/* Footer.css */


.footer-dark {
    margin-top: 0 !important;
}

.footer-dark {
    background-color: #121212; 
    color: #ffffff; 
  }
  
  .footer-dark-bottom {
    background-color: #0a0a0a; 
    color: #b3b3b3;
  }
  
  .footer-dark a {
    color: #b3b3b3 !important; 
    transition: color 0.3s;
  }
  
  .footer-dark a:hover {
    color: #f8f9fa !important;
  }
  
  .footer-dark ul li a i {
    font-size: 1.4rem;
    transition: transform 0.2s, color 0.2s;
  }
  
  .footer-dark ul li a i:hover {
    transform: scale(1.1);
    color: #0d6efd;
  }
  